<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>QR Scanner</title>
    <style>
      .header {
        padding: 20px;
        text-align: center;
        background: #1abc9c;
        color: white;
      }
      .header2 {
        padding: 20px;
        text-align: center;
        background: white;
        color: chocolate;
      }
      .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        display: block;
      }
      
      /* On mouse-over, add a deeper shadow */
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
    </style>
  </head>
  <body>
    <div class="jumbotron text-center header">
      <h1 style="font-size:4vw;">QR SCANNER</h1>
    
    </div>
    <!-- upload container-->
    <div class="container">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="card col-sm-6" style="padding:20px;margin-top:10px;" >
          <div class="col-sm-12">
          <h2 class="header2" style="padding-top:0">Upload Your Qr Code</h2>
          
            <form method="post" class="form-inline" enctype="multipart/form-data">
              {% csrf_token %} 
              {{ form.as_p }}
              <div class="text-center">
                <button type="submit" name="upload1" class="btn btn-success">Upload</button>
              </div>            
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--end upload container-->
    <!-- data container-->
    {% if img_obj %}
    <div class="container">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="card col-sm-6" style="padding:20px;margin-top:10px;" >
          <div class="col-sm-12">
          {% if flag1 %}
          <h2 class="header2" style="padding-top:0">Failed To Convert</h2>
          {% else %}
          <h2 class="header2" style="padding-top:0">Succesfully Converted</h2>
          {% endif %}
          <h3><b>{{img_obj.title}}</b></h3>
          <br>
          <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
          <br>
          <h4>Converted code</h4>
          <div style="font-size:16px;">
            {% for decodedValue,decodedType in overallDecoded %}
              <b>Type Of Code:</b> {{ decodedType }}
            <br>
              <b>Value Contain:</b> {{ decodedValue }}
            <br>
            {% endfor %}
          </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <!--end data container-->
    <!-- Advance Scanner-->
    <div class="container">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="card col-sm-6" style="padding:20px;margin-top:10px;" >
          <div class="col-sm-12">
          <h2 class="header2" style="padding-top:0">Advance Qr Scanner</h2>
          
            <form method="post" class="form-inline" enctype="multipart/form-data">
              {% csrf_token %} 
              {{ form1.as_p }}
              <div class="text-center">
                <button type="submit" name="upload2" class="btn btn-success">Upload</button>
              </div>            
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- End Advance Scanner-->
    <!-- Advance data container-->
    {% if img_obj1 %}
    <div class="container">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="card col-sm-6" style="padding:20px;margin-top:10px;" >
          <div class="col-sm-12">
          <h2 class="header2" style="padding-top:0">Succesfully Converted Advance Code</h2>
          <h3><b>{{img_obj1.title}}</b></h3>
          <br>
          <img src="{{ img_obj1.image.url}}" alt="connect" style="max-height:300px">
          <br>
          <h4>Converted code</h4>
          <div style="font-size:16px;">
            {% for decodedValue1,decodedType1 in overallDecoded1 %}
              <b>Type Of Code:</b> {{ decodedType1 }}
            <br>
              <b>Value Contain:</b> {{ decodedValue1 }}
            <br>
            {% endfor %}
          </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <!--end advance data container-->
    <!-- Scanner container-->
    <div class="container">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="card col-sm-6" style="padding:20px;margin-top:10px;" >
          <div class="col-sm-12">
            <h2 class="header2" style="padding-top:0">Open Scanner</h2>
          </div>  
          <div class="text-center">
            <button onClick="openScanner()" type="button" class="btn btn-success">Open Scanner</button>
          </div>     
        </div>
      </div>
    </div>
    <!--End Scanner container-->
    <!-- Scanner data container-->
    <div class="container" style="display:none" id="para">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="card col-sm-6" style="padding:20px;margin-top:10px;"> 
          <h2 class="header2" style="padding-top:0">Decoded Value Of Scanned Image</h2>
          <div id="data">
            <div class="loader" style="display:none">
              <img src="/media/spinner.gif" />
            </div>
          </div>   
        </div>
      </div>
    </div>
    <!--End Scanner data container-->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script>
    function openScanner(){
      $(".loader").show();
    $.ajax({  
      url: '/openscanner',  
      type: 'GET',  
      success: function(data) {    
        $(".loader").hide();
        $("#para").show();
        window.location.hash = '#para';
        var newHTML = [];
        for (var i = 0; i < data.decodeType.length; i++) {
          newHTML.push('<span><b>Data Type: </b>' + data.decodeType[i] + '</span>');
          newHTML.push('<span style="margin-left:30px"><b>Decoded Value: </b>' + data.decodeData[i] + '</span>');
          newHTML.push('<br>');
        }
        $("#data").html(newHTML.join(""));
//        $("#data").html(JSON.stringify(data));
        console.log(data)

                        
        }  
      });  
    }
  </script>
  <script>
  var checkBlank = {{ overallDecoded }};
  if (checkBlank == ''){

  }
  </script
  </body>
</html>